
/* Modular Scale settings */
:root {
  --ms-bases: 1.250, 1;
  --ms-ratios: 1.618;
}

/* Modular Scale units for harmonious type, margins, and padding */
$scale-xxxsm: ms(-3)rem;
$scale-xxsm: ms(-2)rem;
$scale-xsm: ms(-1)rem;
$scale-sm: ms(1)rem;
$scale-smm: ms(2)rem;
$scale-md: ms(3)rem;
$scale-lg: ms(5)rem;
$scale-llg: ms(6)rem;
$scale-xlg: ms(7)rem;
$scale-xxlg: ms(8)rem;
$scale-xxxlg: ms(9)rem;
$scale-massive: ms(12)rem;

/* Lost Grid settings */
@lost flexbox flex;
@lost gutter 1.125rem;

/* Typography */
@define-extend serif {
    font-family: Georgia, serif;
}
@define-extend sans-serif {
    font-family: system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: $themeBgColor;
  /*lost-utility: edit;*/
  /*@mixin media-query-banner;*/
}

html, body {
  min-width: 320px;
  height: 100%;
}

body {
  @extend sans-serif;
  /*@mixin media-query-banner;*/
}

a {
  position: relative;
  transition: all 0.12s $defaultTransitionTiming;
  letter-spacing: 0.3vw;
  z-index: 2;
}

#page {
  position: relative;
}

main[role=main] {
  margin: 0;

  section{
    position: relative;
  }
}
