doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title PeteKP
    meta(name='description', content='')
    meta( name="keywords", content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    //Facebook
    meta( property='og:title', content="PeteKP" )
    meta( property='og:site_name', 	content='PeteKP' )
    meta( property='og:description', content='My site' )
    meta( property='og:image:type', content='image/jpeg' )
    meta( property='og:type', content='website' )
    
    link(rel='stylesheet', href='/static/css/main.min.css?#{cssVersion}')
    link(rel='shortcut icon', type='image/x-icon', href='/static/img/favicon.ico')

  body
    <!--[if lt IE 11]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->
