//     
  .
                                  `                                
                      `           d           `                    
                      -o`        sMs        `o.                    
                      .Nm+.   `:hMMMh:`   .+mm.                    
                      :MMMNmmmNMMMMMMMNmmmNMMM:                    
            ./.     `/mMMMMMNmhyyysyyyhmNMMMMMm/`     ./`          
             -dmhsshmMMNds/-``         ``-/sdNMMmhsshmd-           
              +MMMMMMd+.`                   `.odMMMMMM/            
              /MMMMh:`                         `:hMMMM/            
            `:mMMd:`                             `:dMMm:           
     `-/+++sdNMMs`                                 `sMMNds+++/-`   
       .oNMMMMMo                                     oMMMMMN+.     
         -NMMMs                                       sMMMN-       
          hMMm`                                       .mMMh        
         -NMM+                                         oMMN-       
      .-sNMMM-                                         -MMMNs-.    
   `:oymMMMMM.                                         .MMMMMmyo:` 
      `-+mMMM-                                         -MMMm+-`    
         .mMMo                                         oMMm.       
          hMMm.                                       .mMMh        
         :NMMMy`                                     `yMMMN:       
      `-sNMMMMMs`                                   `sMMMMMNs-`    
      ./::/ohNMMy.                                 .yMMNho/::/.    
             -dMMm/`                             `/mMMd-           
              /MMMMh/`                         `/dMMMM:            
              +MMMMMMms:`                   `:smMMMMMM+            
             :dhsoosdNMMmho:.```     ```.:ohmMMNdsoosdd-           
            .:`      :dMMMMMMNmdhyyyhdmNMMMMMMd:      `:`          
                      -MMMNdhdmNMMMMMNmdhdNMMN-                    
                      .Nh/`    -yMMMs-    `/dm.                    
                      -+         oMo         +.                    
                                  h                                
                                  `                                
