$buttonRadius: 10px;

.Button{
  position: relative;
  display: inline-block;
  margin: 0;
  padding: $scale-xxsm $scale-xsm;
  text-decoration: none;
  border-radius: $buttonRadius;
  background-color: $themeColor;
  color: $themeBgColor;
  text-transform: uppercase;
  font-weight: 700;
}
