LinkList-inner{
  flex: 2;
}

.LinkList {
  lost-flex-container: column;
  font-weight: 600;
  text-transform: uppercase;

  a {
    padding: $scale-xsm $scale-sm;
    margin-bottom: -$border-thickness;;
    border-radius: 0 0 0 0;
    background: transparent;
    font-size: responsive 1rem 1.6rem;
    flex: 1;
    color: $themeColor;
    text-decoration: none;
    box-shadow: inset 0 0 0 $border-thickness $themeColor;

    &:hover {
      background-color: color($themeColor a(10%));
    }
  }

  & > :first-child {
    border-radius: $buttonRadius $buttonRadius 0 0;
  }

  & > :last-child {
    border-radius: 0 0 $buttonRadius $buttonRadius;
  }

}
