.MenuButton {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.MenuButton-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;

    @media (--iPhone4) {
      height: 18px;
    }
}
.MenuButton-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.MenuButton-inner, .MenuButton-inner::before, .MenuButton-inner::after {
  width: 40px;
  height: 2px;
  background-color: #FFF;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.MenuButton-inner::before, .MenuButton-inner::after {
  content: "";
  display: block;
}
.MenuButton-inner::before {
  top: -10px;
}
.MenuButton-inner::after {
  bottom: -10px;
}
.MenuButton--squeeze .MenuButton-inner {
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.MenuButton--squeeze .MenuButton-inner::before {
  transition: top 0.1s 0.14s ease, opacity 0.1s ease;
}
.MenuButton--squeeze .MenuButton-inner::after {
  transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.MenuButton--squeeze.is-active .MenuButton-inner {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.MenuButton--squeeze.is-active .MenuButton-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}
.MenuButton--squeeze.is-active .MenuButton-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.MenuButton-label{
  transition: opacity 0.2s ease;
  line-height: 0.8;
  opacity: 0.9;
  text-shadow: none;

  span{
    font-size: 0.9rem;
    text-align: center;
  }
}
