extends ../layout.jade

block vars
	- var pageName = 'reading';

block header
	.wrapper.wrapper--header
		h1.Header-copy.u-text-align-center Reading

block main_content
	section
		.wrapper
			p good books
