@import './base.css';

.PageHeader {
  display: flex;
  align-items: start;
  justify-content: start;
  flex: 1;
  flex-direction: column;
  max-width: 30rem;

  & > h1 {
    line-height: 1.1;
    font-weight: 700;
    margin-left: -0.2rem;
    margin-bottom: 3vh;
    font-size: responsive 4.4rem 7.4rem;
  }

  & > h2 {
    position: relative;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.3vw;
    font-size: responsive 1.8rem 2.2rem;
    margin-bottom: 0;
  }

  @media (--landscape) {
    max-width: 62vw;
    justify-content: space-between;
  }

  @media (--large) {
    justify-content: space-between;
    max-width: 60vw;
  }
}
