extends ../layout.jade

block vars
	- var pageName = 'science';

block header
	.bg-image.b-lazy(data-src="/static/img/backgrounds/bg-#{pageName}.jpg")
	.wrapper.wrapper--header
		h1.Header-copy.u-text-align-center Founded by scientists and technologists. #[br.break] Focused on outcomes.

block main_content
	section
		.wrapper
			p Founded by experienced scientists, Virta develops and delivers clinically proven and individualized therapies to restore metabolic health in chronic disease patients. Chronic diseases have multiple interacting etiologies and thus need multi-component and individualized solutions. Our clinically proven therapies are possible by combining advanced biochemistry, clinical expertise, data science and digital tools. 

		.wrapper--wide
			p.emphasis We're on a mission to cure the most complex chronic diseases.

		.wrapper
			p Our founding team has over 60 combined years of research, clinical and academic experience including managing over 6,000 patients and publishing over 300 papers.

			p We are actively involved in a number of research projects and will publish clinically proven results as they become available.
